{{detail}}
  <div class="detailProduct">
    <h1>Detalle del Producto</h1>

    <div class="product-details">
      <img src={{thumbnails}} alt="" />
      <h2>{{title}} {{description}}</h2>
      <p>Precio: {{price}}</p>
      <p>Categoría: {{category}}</p>
      <p>Disponibilidad: {{stock}}</p>
    </div>

    <div class="product-actions">
      <label for="quantity">Cantidad:</label>
      <input type="number" id="quantity" name="quantity" value="1" min="1" />
      <button class="add-to-cart">Agregar al Carrito</button>
    </div>
  </div>
