{{#if isValid}}
<div class="allProducts">
  {{#each docs}}
    <div class="card" style="width: 18rem">
      <img src={{this.thumbnail}} class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{this.description}}</h5>
        <h6 class="card-text">${{this.price}}</h6>
        <a href="#" class="btn btn-primary">Agregar al Carrito</a>
      </div>
    </div>
  {{/each}}
</div>
<br>
<div class="pagination">
  {{#if hasPrevPage}}
    <a href={{this.prevLink}}>
      Anterior
    </a>
  {{/if}}

  &nbsp;
  {{this.page}}
  &nbsp;

  {{#if hasNextPage}}
    <a href={{this.nextLink}}>
      Siguiente</a>
  {{/if}}

</div>
{{else}}
<h1>¡No existen productos para mostrar!</h1>
{{/if}}