{{#if isValid}}
<div class="allProducts">
  {{#each docs}}
    <div class="card" style="width: 18rem">
      <img src={{this.thumbnails}} class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{this.description}}</h5>
        <h6 class="card-text">${{this.price}}</h6>
        <a href="/products/detail/{{this.id}}" class="btn btn-primary" id="{{this.id}}" type="submit">Detalles</a>
        <a href="" class="btn btn-primary" id="{{this.id}}" type="submit">Agregar al Carrito</a>
      </div>
    </div>
  {{/each}}
</div>
<br>
<div class="pagination">
  {{#if hasPrevPage}}
     <li class="page-item">
      <a class="page-link" href={{this.prevLink}}>Anterior</a>
    </li>
  {{/if}}

  &nbsp;
   <li class="page-item">
      <a class="page-link" href="">{{page}}</a>
    </li>
  &nbsp;

  {{#if hasNextPage}}
    <li class="page-item">
      <a class="page-link" href={{this.nextLink}}>Siguiente</a>
    </li>
  {{/if}}

</div>
{{else}}
<h1>¡No existen productos para mostrar!</h1>
{{/if}}
